p{font-family: 'Oswald', sans-serif;}
h1{font-size:100;
  font-family: 'Baloo Bhaina', cursive;}
#header{
  height:20px;
  position:absolute;
  padding:20%;
}
#sidebar{
		width:200px;
		height:100%;
		padding:50px;
		position:fixed;

}
#nav{
  width:90%;
  height:30%
}
#content{
  width:70%;
  height:90%
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   .div {
        width: 100%;
    }
}

  

