p{font-family: 'Oswald', sans-serif;}
h1{font-size:100;
  font-family: 'Baloo Bhaina', cursive;}
#header{
 clear: both;
 width:2000px;
 height:100px;
 position:relative;
 
}
#sidebar{
float:right;
width:200px;
height:100%;
padding:50px;
position:fixed;
}

#content{
  float:left;
  width:1800px;
  height:1900px;
 position:fixed;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   .div {
        width: 100%;
    }
}

  

